
body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background-color: #1687A7;
}

p {
    font-size: 40px;
    margin-top:10px;
}
td {
    background-color: transparent;
    height:85px;
    width:85px;
}
td, .inner, .front, .back {
    border-radius: 4px;
}
table {
    margin-top: 80px;
}

#inst {
    width: 85%;
    height: 75%;
    background-color: #F9F9F9;
    text-align: center;
    margin-top:10vh;
    backdrop-filter: blur(10px);
    border: 0.2px solid;
    border-radius: 10px;
    padding: 5px;
    line-height: 2;
}
li {
    color: #787A91;
    text-align: left;
    padding: 5px;
}

#ol {
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.8);
    color: #8f8f8f;
    backdrop-filter: blur(8px);
    z-index:2;

}
#iol {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 22%;
    border: 5px dotted;
    border-radius: 10px;
    padding: 15px;
    line-height: 2;
}

#title {
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(15px);
    border-radius:10px;
    margin: 8px;
    margin-top: 0;
    color: white;
    font-size: 25px;
    padding-top: 10px;
    height:56px;
    text-align: center;
}

#time {
    position: absolute;
    right: 20px;
    font-size: 16px;
    top: 8.5px;
}

#moves {
    position: absolute;
    left: 20px;
    font-size: 16px;
    top:8.5px;
}

.game-title {
  font-family: 'Patrick Hand', cursive;
  color: #968C83;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
            transition: -webkit-transform 0.8s;
         -o-transition: transform 0.8s;
            transition: transform 0.8s;
            transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.front {
    background-color: rgba(255,255,255,0.5);
}

.back {
    background-color: rgba(255,255,255,0.8);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.modes {
  background-color: #8f8f8f;
}

.modes, .modes2 {
  margin: auto 5px auto 5px;
}
